{% extends "blog/base.html"%}
{% block content%}
    <div class="about_content">
        <h1 > About Us </h1>
        <hr>
</p> <p>Mbarara University of Science and Technology a place of innovation, growth, and community. One of the most respected public universities in Uganda, MUST is a dream for many aspiring students across the country. With its growing reputation for excellence in science, technology, and innovation, the university offers exciting academic opportunities, vibrant campus life, and unforgettable events.But like any journey, campus life here has its ups and downs. </p>
<p>That is  where Campus Connect comes in a platform for you to share your stories, experiences, and reflections. Whether they are stories of triumph or tales of struggle, every post helps uncover the real life behind the MUST experience. This is your space to connect with like-minded students, find inspiration from alumni journeys, keep up with campus events, or simply vent about your daily life.</p>
<p>Campus Connect is more than a blog it's your digital community at MUST.</p>
         </div>
{% endblock content %}