{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
             <legend class="border-bottom mb-4 text-center" style="color: #008000; font-weight: 600;">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <small class="text-muted">Ensure the email entered is the account email ID</small>
        <div class="form-group text-center mt-4">
            <button class="btn btn-primary px-4 py-2 rounded-pill" type="submit"
                style="background-color: #008000; border: none;">
                Password Reset
            </button>
    </form>
</div>
{% endblock content %}